@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

ol, ul {
  list-style: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

img, video, iframe {
  max-width: 100%; }

strong {
  font-weight: 700; }

.clearfix, .group {
  zoom: 1; }
  .clearfix:before, .clearfix:after, .group:before, .group:after {
    content: "";
    display: table; }
  .clearfix, .clearfix:before, .clearfix:after, .group, .group:before, .group:after {
    clear: both; }

.bg-green {
  background-color: #64AC45;
  color: white; }

.bg-blue-light {
  background-color: #A7CAEB;
  color: white; }

.bg-blue-medium {
  background-color: #6784B4;
  color: white; }

.bg-blue-medium-dark {
  background-color: #2C4E86;
  color: white; }

.bg-blue-dark {
  background-color: #2D3C4D;
  color: white; }

.bg-grey-light {
  background-color: #939598;
  color: white; }

.bg-grey-dark {
  background-color: #6D6E71;
  color: white; }

.text-green {
  color: #64AC45; }

.text-blue-light {
  color: #A7CAEB; }

.text-blue-medium {
  color: #6784B4; }

.text-blue-medium-dark {
  color: #2C4E86; }

.text-blue-dark {
  color: #2D3C4D; }

.text-grey-light {
  color: #939598; }

.text-grey-dark {
  color: #6D6E71; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2em;
  text-transform: uppercase; }

h1 {
  font-size: 25px; }

h2 {
  font-size: 22px; }

h3 {
  font-size: 19px; }

h4 {
  font-size: 17px;
  font-weight: bold; }

h5 {
  font-size: 15px;
  font-weight: bold; }

h1, h2, h3, h4, h5, h6, p {
  padding: 8px 0; }

main ul li {
  padding: 3px 0 3px 35px;
  background: url(../img/checkmark.png) left top no-repeat; }

.container {
  max-width: 1440px;
  margin: 0 auto; }

.wrap-narrow {
  max-width: 1150px;
  margin: 0 auto; }

@media only screen and (min-width: 768px) {
  .half {
    width: 50%; } }

.narrow-thirds .third {
  padding: 15px 5%; }
@media only screen and (min-width: 768px) {
  .third {
    width: 33%; } }

@media only screen and (min-width: 768px) {
  .fifth {
    width: 20%; } }

@media only screen and (min-width: 768px) {
  .two-fifth {
    width: 40%; } }

@media only screen and (min-width: 768px) {
  .three-fifth {
    width: 60%; } }

.half, .third, .fifth, .two-fifth, .three-fifth {
  display: block;
  padding: 8px 15px; }
  @media only screen and (min-width: 768px) {
    .half, .third, .fifth, .two-fifth, .three-fifth {
      padding: 15px 25px;
      float: left; } }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

header {
  background: #2D3C4D;
  zoom: 1; }
  header:before, header:after {
    content: "";
    display: table; }
  header, header:before, header:after {
    clear: both; }
  header .logo {
    padding: 10px;
    text-align: center; }
    header .logo img {
      max-height: 100px; }
    @media only screen and (min-width: 768px) {
      header .logo {
        width: 35%;
        float: left; } }
  header ul {
    padding-bottom: 5px; }
    header ul li a {
      display: block;
      color: white;
      padding: 5px 10px;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      font-size: .9em; }
    @media only screen and (min-width: 768px) {
      header ul {
        width: 65%;
        float: left;
        padding: 40px 0 0 0; }
        header ul li {
          float: left; } }
    @media only screen and (min-width: 1024px) {
      header ul {
        padding-top: 50px; } }

.showcase {
  position: relative;
  border-bottom: 5px solid #6784B4; }
  .showcase a {
    text-decoration: none; }
  @media only screen and (min-width: 768px) {
    .showcase {
      border-bottom: 0; } }
  .showcase img {
    display: block; }
  .showcase h1 {
    padding: 15px 30px;
    font-size: 30px;
    color: white;
    text-transform: uppercase; }
    @media only screen and (min-width: 768px) {
      .showcase h1 {
        position: absolute;
        left: 0;
        top: 20px;
        font-size: 35px;
        letter-spacing: 3px;
        padding: 25px; } }
    @media only screen and (min-width: 1024px) {
      .showcase h1 {
        top: 40px;
        font-size: 45px; } }
  .showcase .content {
    padding: 15px 30px;
    font-size: .9em;
    background: #A7CAEB;
    color: #2D3C4D; }
    @media only screen and (min-width: 768px) {
      .showcase .content {
        position: absolute;
        right: 30px;
        top: 20px;
        border-radius: 20px;
        width: 280px; } }
    @media only screen and (min-width: 1024px) {
      .showcase .content {
        top: 40px; } }
  .showcase .button-large {
    display: none; }
    @media only screen and (min-width: 768px) {
      .showcase .button-large {
        display: block;
        position: absolute;
        bottom: 20px;
        right: 30px; } }
    @media only screen and (min-width: 1024px) {
      .showcase .button-large {
        bottom: 40px; } }
  .showcase .flower {
    display: none; }
    @media only screen and (min-width: 1100px) {
      .showcase .flower {
        display: block;
        position: absolute;
        bottom: 5px;
        left: 5px;
        width: 445px;
        height: 445px; } }
    @media only screen and (min-width: 1220px) {
      .showcase .flower {
        left: 30px;
        bottom: 25px; } }

.industry {
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  padding: 30px; }
  @media only screen and (min-width: 768px) {
    .industry {
      padding-left: 50px; } }
  @media only screen and (min-width: 1024px) {
    .industry {
      padding-left: 220px; } }
  .industry .button-large {
    margin-left: 30px;
    min-width: 230px; }
    @media only screen and (min-width: 1220px) {
      .industry .button-large {
        min-width: 61%; } }

.narrow-thirds {
  padding: 30px 20px; }

.white-box {
  padding: 30px 20px; }

.news h4 a {
  color: black;
  text-decoration: none; }
.news p {
  font-size: .9em;
  color: #6784B4;
  padding-bottom: 20px; }

.subtitle {
  padding: 20px 30px; }
  @media only screen and (min-width: 768px) {
    .subtitle {
      font-size: 35px; } }
  @media only screen and (min-width: 1024px) {
    .subtitle {
      font-size: 40px; } }

.main-content {
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  padding: 30px;
  font-size: 1.2em;
  line-height: 1.5em; }

img.alignleft, img.alignright {
  max-width: 55%; }
img.alignleft {
  float: left;
  margin: 0 10px 10px 0; }
img.alignright {
  float: right;
  margin: 0 0 10px 10px; }

.bubbles {
  padding: 15px; }
  .bubbles .bubble {
    padding: 15px;
    margin-bottom: 30px; }
    .bubbles .bubble .photo {
      border: 2px solid white;
      border-radius: 50%;
      margin-bottom: 20px;
      overflow: hidden; }
      .bubbles .bubble .photo img {
        display: block;
        width: 100%; }
    .bubbles .bubble .box {
      border: 4px solid white;
      border-radius: 20px;
      background: #2C4E86;
      text-align: center;
      padding: 10px 20px;
      margin: 0; }
      @media only screen and (min-width: 500px) {
        .bubbles .bubble .box {
          padding: 15px 20px;
          min-height: 160px; } }
      @media only screen and (min-width: 768px) {
        .bubbles .bubble .box {
          min-height: 150px; } }
      @media only screen and (min-width: 1220px) {
        .bubbles .bubble .box {
          margin: 0 15px; } }
      .bubbles .bubble .box h4 {
        padding: 0 0 5px; }
      .bubbles .bubble .box p {
        font-size: .9em;
        line-height: 1.4em;
        padding: 0; }
      .bubbles .bubble .box a {
        color: white; }
    @media only screen and (min-width: 500px) {
      .bubbles .bubble {
        width: 50%;
        float: left; }
        .bubbles .bubble:nth-child(3), .bubbles .bubble:nth-child(5), .bubbles .bubble:nth-child(7), .bubbles .bubble:nth-child(9), .bubbles .bubble:nth-child(11), .bubbles .bubble:nth-child(13), .bubbles .bubble:nth-child(15) {
          clear: left; } }
    @media only screen and (min-width: 768px) {
      .bubbles .bubble {
        width: 33.33%; }
        .bubbles .bubble:nth-child(3), .bubbles .bubble:nth-child(5), .bubbles .bubble:nth-child(9), .bubbles .bubble:nth-child(11), .bubbles .bubble:nth-child(15) {
          clear: none; }
        .bubbles .bubble:nth-child(4), .bubbles .bubble:nth-child(10), .bubbles .bubble:nth-child(16) {
          clear: left; } }
    @media only screen and (min-width: 1220px) {
      .bubbles .bubble {
        width: 25%; }
        .bubbles .bubble:nth-child(4), .bubbles .bubble:nth-child(7), .bubbles .bubble:nth-child(10), .bubbles .bubble:nth-child(16) {
          clear: none; }
        .bubbles .bubble:nth-child(5), .bubbles .bubble:nth-child(9), .bubbles .bubble:nth-child(17) {
          clear: left; } }

.process {
  padding: 40px 20px; }
  .process .step {
    position: relative;
    border: 6px solid #6D6E71;
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 30px; }
    @media only screen and (min-width: 768px) {
      .process .step {
        padding: 20px 20px 20px 35%; } }
    @media only screen and (min-width: 1024px) {
      .process .step {
        padding: 30px 30px 30px 35%; } }
    .process .step:before {
      position: absolute;
      top: -28px;
      left: -18px;
      content: "";
      width: 80px;
      height: 80px;
      background: #c7c8ca;
      border-radius: 50%;
      z-index: 5; }
    .process .step:after {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      bottom: -65px;
      right: 30px;
      border-top: 30px solid #6D6E71;
      border-right: 30px solid transparent;
      border-bottom: 30px solid transparent;
      border-left: 30px solid transparent; }
    .process .step.two:after {
      right: 130px; }
    .process .step.three:after {
      right: 230px; }
    .process .step.four:after {
      right: 330px; }
    .process .step.five:after {
      right: 430px; }
    .process .step.six:after {
      display: none; }
    @media only screen and (min-width: 768px) {
      .process .step:before {
        position: absolute;
        left: 22px;
        top: 50%;
        margin-top: -38px; } }
    .process .step .icon {
      position: absolute;
      top: -30px;
      left: -20px;
      width: 80px;
      height: 80px;
      background: #6D6E71;
      border-radius: 50%;
      z-index: 10; }
      @media only screen and (min-width: 768px) {
        .process .step .icon {
          position: absolute;
          left: 20px;
          top: 50%;
          margin-top: -40px; } }
      .process .step .icon img {
        display: block; }
    .process .step h4 {
      text-align: center; }
      @media only screen and (min-width: 768px) {
        .process .step h4 {
          position: absolute;
          left: 130px;
          top: 50%;
          right: 67%;
          margin-top: -25px;
          height: 50px;
          line-height: 50px;
          padding: 0; } }

.button {
  display: inline-block;
  background: #64AC45;
  color: white;
  border-radius: 10px;
  border: 3px solid white;
  padding: 12px 15px;
  margin: 5px 0;
  text-transform: uppercase;
  text-decoration: none; }

.button-half {
  padding: 30px 20px;
  text-decoration: none;
  font-variant: small-caps;
  font-size: 23px;
  display: block; }
  @media only screen and (min-width: 768px) {
    .button-half {
      padding: 50px 30px;
      float: left;
      width: 50%; } }
  .button-half.financial {
    text-align: right;
    background-image: url(../img/icon-building.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain; }
  .button-half.manufacturers {
    background-image: url(../img/icon-gears.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain; }
  .button-half:hover {
    opacity: .9; }

.button-large {
  position: relative;
  display: inline-block;
  color: white;
  border-radius: 10px;
  border: 3px solid white;
  padding: 30px 20px 30px 70px;
  margin: 15px 0;
  text-transform: uppercase;
  text-decoration: none; }
  .button-large .icon {
    position: absolute;
    top: 50%;
    left: -50px;
    margin-top: -50px;
    width: 100px;
    height: 100px;
    border: 3px solid white;
    border-radius: 50%;
    overflow: hidden; }

.icon-circle {
  max-width: 120px;
  margin: 12px auto;
  border-radius: 50%;
  border: 5px solid white; }
  .icon-circle img {
    display: block; }

footer {
  font-size: .8em;
  position: relative; }
  @media only screen and (min-width: 768px) {
    footer .social {
      position: absolute;
      right: 0;
      bottom: 0;
      width: auto; } }
  footer .contact a, footer .location a {
    color: white;
    opacity: .8;
    -webkit-transition: opacity 400ms ease-in-out;
            transition: opacity 400ms ease-in-out;
    text-decoration: none; }
    footer .contact a:hover, footer .location a:hover {
      opacity: 1;
      border-bottom: 1px dotted #6b88a8; }

.copyright {
  padding: 20px;
  text-align: center; }
