

.button {
	display: inline-block;
	background: $green;
	color: white;
	border-radius: 10px;
	border: 3px solid white;
	padding: 12px 15px;
	margin: 5px 0;
	text-transform: uppercase;
	text-decoration: none;
}


.button-large {
	padding: 30px 20px;
	text-decoration: none;
	font-variant: small-caps;
	font-size: 23px;

	@include respond-to( 768px ) {
		padding: 50px 30px;
	}

	&.financial {
		text-align: right;
		background-image: url(../img/icon-building.png);
		background-repeat: no-repeat;
		background-position: left center;
		background-size: contain;
	}

	&.manufacturers {
		background-image: url(../img/icon-gears.png);
		background-repeat: no-repeat;
		background-position: right center;
		background-size: contain;
	}

	&:hover {
		opacity: .9;
	}
}

