

.button {
	display: inline-block;
	background: $green;
	color: white;
	border-radius: 10px;
	border: 3px solid white;
	padding: 12px 15px;
	margin: 5px 0;
	text-transform: uppercase;
	text-decoration: none;
}


.button-half {
	padding: 30px 20px;
	text-decoration: none;
	font-variant: small-caps;
	font-size: 23px;
	display: block;

	@include respond-to( 768px ) {
		padding: 50px 30px;
		float: left;
		width: 50%;
	}

	&.financial {
		text-align: right;
		background-image: url(../img/icon-building.png);
		background-repeat: no-repeat;
		background-position: left center;
		background-size: contain;
	}

	&.manufacturers {
		background-image: url(../img/icon-gears.png);
		background-repeat: no-repeat;
		background-position: right center;
		background-size: contain;
	}

	&:hover {
		opacity: .9;
	}
}


.button-large {
	position: relative;
	display: inline-block;
	color: white;
	border-radius: 10px;
	border: 3px solid white;
	padding: 30px 20px 30px 70px;
	margin: 15px 0;
	text-transform: uppercase;
	text-decoration: none;

	.icon { 
		position: absolute;
		top: 50%;
		left: -50px;
		margin-top: -50px;
		width: 100px;
		height: 100px;
		border: 3px solid white;
		border-radius: 50%;
		overflow: hidden;
	}
}

