
// include our fonts
@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);


// sans-serif mixin
@mixin font {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
}


// bold face
@mixin font-bold {
	font-weight: 700;
}


strong {
	@include font-bold;
}

