

footer {
	font-size: .8em;
	position: relative;

	.social {
		@include respond-to( 768px ) {
			position: absolute;
			right: 0;
			bottom: 0;
			width: auto;
		}
	}

	.contact, .location {
		a {
			color: white;
			opacity: .8;
			transition: opacity 400ms ease-in-out;
			text-decoration: none;

			&:hover {
				opacity: 1;
				border-bottom: 1px dotted lighten( $blue-dark, 30% );
			}
		}
	}
}


.copyright {
	padding: 20px;
	text-align: center;
}

