

.showcase {
	position: relative;
	border-bottom: 5px solid $blue-medium;

	a {
		text-decoration: none;
	}

	@include respond-to( 768px ) {
		border-bottom: 0;
	}

	img {
		display: block;
	}

	h1 {
		padding: 15px 30px;
		font-size: 30px;
		color: white;
		text-transform: uppercase;

		@include respond-to( 768px ) {
			position: absolute;
			left: 0;
			top: 20px;
			font-size: 35px;
			letter-spacing: 3px;
			padding: 25px;
		}

		@include respond-to( 1024px ) {
			top: 40px;
			font-size: 45px;
		}
	}

	.content {
		padding: 15px 30px;
		font-size: .9em;
		background: $blue-light;
		color: $blue-dark;

		@include respond-to( 768px ) {
			position: absolute;
			right: 30px;
			top: 20px;
			border-radius: 20px;
			width: 280px;
		}

		@include respond-to( 1024px ) {
			top: 40px;
		}
	}

	.button-large {
		display: none;

		@include respond-to( 768px ) {
			display: block;
			position: absolute;
			bottom: 20px;
			right: 30px;
		}

		@include respond-to( 1024px ) {
			bottom: 40px;
		}
	}

}

